body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
img {
  font-size: 20%;
}
nav a {
  background-color: grey;
  padding: 10px;
  text-align: center;
}
.featured-property {
  width: 800px;
  text-align: center;
}
.details div {
  float: left;
}
.details div {
  background-color: red;
  width: 25%;
}